<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  <%= link_to 'Logout', logout_path, method: :delete %>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Lovelogs</h1>
      <p>Don't you have account?</p><%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
      <p>Visit here again?</p><%= link_to 'Log in', login_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>