<ul class="list-unstyled">
  <% activities.each do |activity| %>
    <li class="media mb-3">
      <div class="media-body">
        <div>
          <%= link_to activity.lover.name, lover_path(activity.lover) %>
        </div>
        <div>
          <p>活動日: <%= activity.activity_date %></p>
          <p>活動内容: <%= activity.content %></p>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate activities %>
</ul>